.section {
  margin-top: 10px;
}
.section__content {
  border: 1px solid var(--border-color1);
  border-radius: 3px;
  padding: 0 5px;
}

.detail {
  margin-top: 15px;
}

.commandLineContent {
  display: flex;
}

.commandLineView {
  min-height: 65px;
  max-height: 300px;
  flex-grow: 1;
}

.coppyCommandLine {
  align-self: start;
  margin-left: 5px;
}
