@value colors: "../shared/styles.module.css";
@value ADiff, BDiff from colors;

.diff {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3px;
}

.diffLeft {
  background-color: ADiff;
}

.diffRight {
  background-color: BDiff;
}
