.tooltip_button {
  background: var(--main-color3);
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  outline: none;
}

.tooltip_button:focus {
  outline: none;
}

.tooltip_button_icon {
  filter: invert(0.5);
}
