@value colors: "../../../shared/styles.module.css";
@value redDiff, greenDiff from colors;

.elem {
  display: inline;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.redDiff {
  background-color: redDiff;
}

.greenDiff {
  background-color: greenDiff;
}

.root td,
th {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  vertical-align: middle;
}
