{{#is_list}}{{#list_type}}{{> from_json_name}}{{/list_type}}{{/is_list}}{{#is_map}}{{#map_val_type}}{{> from_json_name}}{{/map_val_type}}{{/is_map}}{{#is_basic}}{{/is_basic}}{{#is_custom}}{{#custom}}from .{{name}} import {{name}}
{{/custom}}{{/is_custom}}