.headPanel {
  display: grid;
  grid-template-columns: 100px auto 124px;
  margin-bottom: 26px;
}

.projects {
  color: black;
  font-size: 20px;
}

.create_button {
  color: var(--bg-color3);
  border-radius: 2px;
  width: 124px;
  height: 34px;
  padding: 0;
  border: none;
  background-color: var(--bg-color2);
  font-size: 15px;
}

.widgets_list {
  /* margin-top: 34px; */
}
