.root {
}

.pair {
  line-height: 20px !important;
  display: grid;
  grid-template-columns: 90px auto;
  grid-gap: 5px;
  white-space: pre-wrap;
  font-size: 13px;
}
.pair__key {
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color-grey);
}
.pair__value {
  color: #000;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
