.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tags li {
  float: left;
  overflow: hidden;
  padding: 2px;
}

.tag_draggable {
  font-size: 13px;
  color: rgb(83, 83, 83);
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border-width: 0 !important;
  background-color: var(--vgreen-lighter);
  opacity: 0.95;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0px 7px;
  position: relative;
  -webkit-transition: color 0.05s;
  cursor: move;
}
.tag_draggable:hover {
  background-color: var(--vgreen-lightest) !important;
  color: var(--main-text-color1);
}

.tag_static {
  font-size: 13px;
  color: rgb(83, 83, 83);
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border-width: 0 !important;
  background-color: var(--vgreen-lighter);
  opacity: 0.95;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0px 7px 3px 7px;
  position: relative;
}
