.model_layout {
}

.record {
  display: grid;
  grid-template-columns: 205px auto;
  grid-template-rows: 12px auto 12px;
  border-width: 1px 0 0 0;
  border-color: #dedede;
  border-style: solid;
  align-items: center;
}

.record_header {
  grid-column: 1;
  grid-row: 2;
  margin-left: 30px;
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.9);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.record_value {
  grid-row: 2;
  grid-column: 2;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  line-height: 18px;
}

.record_value.name {
  font-weight: 500;
}

.record_value.list {
  line-height: 25px;
}

.tag {
  height: 34px;
  width: 100px;
  border: 1px solid #dedede;
  border-radius: 2px;
  margin-right: 12px;
  float: left;
  display: grid;
  justify-items: center;
  align-items: center;
}

.tag_text {
  color: #4e4e4e;
  font-size: 13px;
  line-height: 15px;
}
