.field_sorting_indicator {
  min-width: 18px;
  margin-left: 5px;
}

.field_sorting_indicator:hover {
  background-color: var(--grey-lighter);
  border-radius: 30%;
}

.header_sorting_indicator_asc {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.header_sorting_indicator_desc {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-left: -10px;
}
.selected.header_sorting_indicator_asc {
  color: var(--main-color1);
}
.selected.header_sorting_indicator_desc {
  color: var(--main-color1);
}

.sortIcon {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  border-radius: 100%;
}

.sortLabel {
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
}
