.root {
}

.content {
  display: grid;
  grid-template-columns: 400px auto auto 180px;
  grid-template-rows: 50px auto auto auto auto;
  padding: 30px;
  font-size: 13px;
  color: var(--fr-color3);
  margin-bottom: 16px;
  background-color: var(--bg-color3);
  border: 1px solid var(--bg-color3);
  user-select: none;
  grid-template-areas:
    'title_block . . owner_block'
    'title_block . . dates'
    'tags . . dates'
    'code_version . . .'
    'actions actions actions actions';
  cursor: pointer;
}
.content:hover {
  border-color: var(--bg-color2);
}

.title_block {
  display: grid;
  grid-template-rows: auto auto 12px;
  grid-area: title_block;
  grid-gap: 5px;
}

.title {
  color: var(--fr-color2);
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.tags_block {
  grid-area: tags;
  margin-top: 16px;
  cursor: default;
}

.codeVersionBlock {
  grid-area: code_version;
  margin-top: 12px;
}
.codeVersionBlock__label {
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.created_date_block {
  color: var(--fr-color4);
  grid-area: dates;
  align-self: end;
  justify-self: end;
  text-align: end;
  padding-bottom: 8px;
}

.created_date {
  margin-bottom: 8px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: actions;
}

.owner_status {
  color: var(--text-color3);
}

.owner_block {
  display: grid;
  grid-template-columns: auto 12px 36px;
  grid-template-areas: 'owner_username . owner_avatar';
  align-items: center;
  margin-top: 4px;
  text-align: right;
  color: var(--fr-color3);
  grid-area: owner_block;
  grid-template-rows: 36px auto;
}

.owner_username {
  grid-area: owner_username;
  word-break: break-all;
  word-wrap: break-word;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.action_delete {
  margin-right: auto;
}
