.root {
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto;
  grid-column-gap: 5px;
}

.text {
  color: #586069;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb {
  text-decoration: none;
  color: var(--main-text-color1);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0 10px 0 10px;
}
.breadcrumb:first-child {
  padding-left: 0;
}

.breadcrumb:not(:last-child)::before {
  display: inline;
  position: absolute;
  content: '/';
  right: -3px;
}

.breadcrumb:last-child,
.breadcrumb:hover {
  text-decoration: underline;
  color: var(--text-color8);
}
