.cell {
  border: none !important;
  outline: none;
}

.summary_cell {
  line-height: 15px;
  color: rgb(112, 112, 112);
  white-space: pre-wrap;
}

.param_draggable {
  padding: 5px;
}
.param_draggable:hover {
  border-radius: 5px;
  background-color: #e6e6e6;
}

.param_grid_hyp {
  line-height: 20px !important;
  display: grid;
  grid-template-columns: 90px 60px;
  grid-gap: 10px;
  white-space: pre-wrap;
}

.param_grid_metric {
  line-height: 20px !important;
  display: grid;
  grid-template-columns: 90px 60px;
  grid-gap: 10px;
  white-space: pre-wrap;
}

.param_key {
  color: rgb(141, 141, 141);
  word-break: break-all;
  word-wrap: break-word;
}

.param_val {
  color: #000;
  word-break: break-all;
  word-wrap: break-word;
}

.param_cell {
  display: grid;
  justify-content: 'unset';
  outline: none;
}
.param_cell:focus {
  outline: none !important;
  border: none !important;
}

.model_link {
  display: block;
  color: var(--main-color2);
  text-decoration: none;
  line-height: 30px;
}

.highlight_summary {
  color: #000;
  max-width: 134px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
  margin-top: 5px;
}

/* .experiment_link {
  text-decoration: none;
  line-height: 30px;
  border: solid 1px lightgrey;
  border-radius: 3px;
  padding: 0 20px;
  text-align: center;
  float: none;
  margin: 5px 0;
} */

/* new from model record */
.experiment_link {
  font-size: 13px;
  text-decoration: none;
  line-height: 30px;
  border: solid 1px lightgrey;
  border-radius: 3px;
  padding: 0 5px;
  max-width: 150px;
  text-align: center;
  float: none;
  margin: 10px 0;
}

.modelId_link {
  font-size: 13px;
  text-decoration: none;
  line-height: 30px;
  border: solid 1px lightgrey;
  border-radius: 3px;
  padding: 0 5px;
  max-width: 150px;
  text-align: center;
  float: none;
  margin: 5px 0;
  transition: border 100ms;
}

.modelId_link:hover {
  background-color: #e6e6e6;
}

.parma_link_value {
  font-size: 0.8em;
  color: rgb(75, 75, 75);
}

.parma_link_label {
  font-weight: 500;
  color: var(--text-color1);
}
/* end model record */

.deploy_link {
  text-align: center;
  float: center;
  margin: 10px 0;
}

.modelDescription {
  line-height: 10px !important;
}

.ag-theme-material .ag-ltr .ag-cell-focus {
  border: none !important;
  outline: none;
}

.artifact_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10px 120px;
  background-color: #fff;
  color: #444;
  line-height: 12px !important;
  margin-bottom: 7px;
  padding: 7px 15px 7px 7px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  font-size: 0.9em;
  max-width: 150px;
  transition: border 100ms;
}

.artifact_wrapper:hover {
  border: solid 1px var(--main-color2);
  cursor: pointer;
}

.artifactKey {
  color: rgb(112, 112, 112);
  word-break: break-all;
  word-wrap: break-word;
}

.artifact_item {
  margin-bottom: 15px;
}
.artifact_item:last-child {
  margin-bottom: 0;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  padding-right: 40px;
  font-size: 150%;
}

.path {
  grid-column: 1/4;
  grid-row: 2;
  font-family: monospace;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 0.9em;
  color: var(--main-color2);
}
.path_label {
  color: rgb(112, 112, 112);
  font-family: sans-serif;
}

.type {
  grid-column: 2/3;
  grid-row: 1;
  color: rgb(112, 112, 112);
}
.key {
  grid-column: 3;
  grid-row: 1;
  color: rgb(112, 112, 112);
}

.notif {
  grid-column: 1/2;
  grid-row: 1;
}
.notif_icon {
  font-size: 13px;
  color: var(--main-color2);
}

.dataset_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10px 120px;
  background-color: #fff;
  color: #444;
  line-height: 12px !important;
  margin-bottom: 7px;
  padding: 7px 15px 7px 7px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  font-size: 0.9em;
  max-width: 150px;
}

.model_name {
  color: var(--main-color2);
  line-height: 16px;
  max-width: 134px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
  margin: 5px 0;
}

.modelName_block {
  padding-bottom: 10px;
}

.modelName_block:hover {
  cursor: pointer;
}

.codeVersion_block,
.expId_block {
  margin-bottom: 10px;
}
