.DS_Store
client/scala/libs/spark.ml/src/main/thrift/ModelDB.thrift
server/src/main/thrift/ModelDB.thrift
.local_files/*
node_modules/
frontend/thrift/
spark-warehouse/
run_imdb.sh
run_animal.sh
run_house_prices.sh
metastore_db/
derby.log
dataset_tmp.csv
duplicator.sh
_site/
.idea/
.sass-cache/
.vagrant/
target/
bin/
.env
*.pyc
