.pageCard {
  height: 100%;
  background-color: var(--bg-color3);
  padding: 31px 30px 30px 30px;
}

.pageHeader {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color1);
}
.pageHeader__title {
  font-weight: 500;
  margin: 0;
}
.pageHeader__title::first-letter {
  text-transform: uppercase;
}
.pageHeader__title_size_medium {
  font-size: 24px;
}
.pageHeader__title_size_small {
  font-size: 21px;
}
.pageHeader__rightContent {
  margin-left: auto;
}

.pageContent {
  padding-top: 15px;
  padding-bottom: 15px;
}

.record {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: 13px auto 12px;
  border-bottom: 1px solid var(--border-color1);
}
.record:last-child {
  border-bottom: none;
}
.record__label {
  grid-row: 2;
  color: var(--fr-color25);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.record__value {
  grid-row: 2;
  color: var(--fr-color3);
  font-size: 16px;
  line-height: 16px;
}

.pageCardWithNotification {
  position: relative;
}

.showNotification {
  padding-top: calc(31px + 50px);
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border: 1px solid rgba(27, 31, 35, 0.15);
}
.notification_success {
  background-color: #dbedff;
  color: #032f62;
}
.notification_failure {
  background-color: #ffdce0;
  color: #86181d;
}

.notification__close {
  font-size: 12px;
  cursor: pointer;
}
