.changeXAxisButton {
  width: 180px;
  margin-bottom: 5px;
}

/* limit for pill size is 150, 780 of it is total length, 630 would be the charts width */
.observations_wrapper {
  display: grid;
  grid-template-columns: 180px 630px;
}

.attribute_container {
  display: flex;
}

.attribute_container_attribute {
  flex-grow: 1;
  min-width: 0;
}

.observations_chart_container {
  padding: 0 5px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 3px;
  transition: all 90ms ease-out;
}

.option_icon {
  color: var(--medium-grey);
}

.option_icon:hover {
  margin-left: 5px;
  color: var(--light-main-color);
}

.selected_option_icon {
  color: var(--main-color2);
}
