.header {
  background-color: var(--bg-color2);
  color: var(--bg-color3);
  height: 56px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 300px minmax(20px, 40px) auto minmax(940px, 1060px) auto minmax(
      20px,
      40px
    );
  padding: 0;
  align-items: center;
  grid-template-areas: 'logo . . header_content header_content header_content';
}

.header_content {
  grid-area: header_content;
  display: grid;
  align-items: center;
  grid-template-columns: auto 150px 86px;
  grid-template-areas: 'breadcrumb urls userbar';
  margin-right: 30px;
}

.logo {
  justify-self: start;
  grid-area: logo;
  margin-left: 30px;
}

.user_bar {
  grid-area: userbar;
  justify-self: end;
}
