.root {
  display: inline-flex;
  border: none;
  margin: 3px 6px 3px 0;
}

.updating {
  opacity: 0.5;
  pointer-events: none;
}

.action_icon {
  font-size: 10px;
  color: var(--main-color2);
  opacity: 0.5;
  margin-left: 5px;
  pointer-events: all;
}
.action_icon:hover {
  opacity: 1;
  color: var(--main-color1);
}

.tag_action {
  cursor: pointer !important;
  pointer-events: none;
}
.root:hover .tag_action {
  display: block;
}
