.layout {
  /* max-width: 1440px; */
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 56px auto;
  grid-template-areas:
    'header'
    'content_area';
}

.content_area {
  grid-area: content_area;
  display: grid;
  grid-template-columns: 300px minmax(20px, 40px) auto minmax(940px, 1060px) auto minmax(
      20px,
      40px
    );
  grid-template-areas: 'filtersBar . . content . .';
}

.header {
  grid-area: header;
}

.filters_bar {
  grid-area: filtersBar;
  background-color: var(--bg-color3);
  padding: 30px;
}

.content {
  grid-area: content;
  padding: 30px 0;
}
