click >= 7.0, < 9.0
cloudpickle >= 1.0, < 3.0
googleapis-common-protos >= 1.5, < 2.0
importlib-metadata >= 3.7.0
jsonschema >= 4.17.3
protobuf >= 3.8, < 4.0
pytimeparse >= 1.1.8, < 2.0
pyyaml >= 5.1, < 7.0
requests >= 2.25, < 3.0
urllib3 >= 1.26.0
