# development
pylint

# packaging
setuptools>=40.8
twine>=1.13
wheel>=0.32

# unit testing
hypothesis
six>=1.11
pytest>=4.3

# unit testing dependencies
boto3
google-cloud-bigquery
matplotlib<3.0
numpy<1.17
pandas
pillow<7.0
scikit-learn<0.21
scipy<1.3
spacy!=2.3.1; python_version == '2.7'  # https://github.com/explosion/spaCy/issues/5729
spacy; python_version != '2.7'
tensorflow<2.0
torch
xgboost

# documentation
-r docs/requirements.txt

# verta
-e .
