.content {
  align-self: center;
  justify-self: center;
}

.header {
  color: var(--fr-color4);
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 16px;
}

.links {
  color: var(--fr-color4);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 56px;
}

.links > a {
  color: var(--bg-color2);
}

.picture {
}
