.artifact_wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 15px 120px;
  background-color: #fff;
  color: var(--main-text-color1);
  line-height: 12px !important;
  margin-bottom: 7px;
  padding: 7px 15px 7px 7px;
  border: solid 1px var(--lightgrey);
  border-radius: 5px;
  font-size: 12px;
  transition: border 130ms ease-out, border-color 130ms ease-out,
    color 130ms ease-out, box-shadow 130ms ease-out;
}

.artifact_wrapper:hover {
  border: solid 1px var(--main-color2);
  cursor: pointer;
}

.artifactKey {
  color: var(--text-color5);
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artifact_item {
  margin-bottom: 5px;
}
.artifact_item:last-child {
  margin-bottom: 0;
}

.notif {
  grid-column: 1/2;
  grid-row: 1;
}
.notif_icon {
  font-size: 13px;
  color: var(--main-color2);
  align-self: center;
}

.model_link {
  display: block;
  color: var(--main-color2);
  text-decoration: none;
  line-height: 30px;
  max-width: 150px;
}

.artifact_item {
  margin-bottom: 5px;
}
.artifact_item:last-child {
  margin-bottom: 0;
}

.popupContent {
}

.popupAction {
  text-align: center;
}

.popupField {
  display: grid;
  grid-template-columns: 62px 6fr 1fr;
  padding: 10px 0px;
  grid-gap: 10px;
}

.fieldKey {
  margin-left: 1em;
  color: var(--text-color3);
}

.fieldValue {
  align-self: center;
  color: var(--text-color2);
  word-break: break-all;
  word-wrap: break-word;
}

.pathFieldValue {
  color: var(--text-color3);
  word-break: break-all;
  word-wrap: break-word;
}
.pathFieldValueQuery {
  color: var(--text-color3);
  font-family: 'Courier New', Courier, monospace;
  word-break: break-all;
  word-wrap: break-word;
}

.url_call_message {
  margin-top: 10px;
}

.success_message {
  font-size: 10px;
  color: var(--success-green);
}
.error_message {
  font-size: 10px;
  color: red;
}

.error_msg_label {
  color: var(--main-text-color1) !important;
}

.downloadActionBlock {
  margin: 10px 0;
}

.popupActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deleting {
  opacity: 0.5;
  pointer-events: none;
}

.downloadActionBlock {
}

.compare {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
}
