.attribute_wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 15px 120px;
  background-color: #fff;
  color: var(--main-text-color1);
  line-height: 12px !important;
  margin-bottom: 7px;
  padding: 7px 15px 7px 7px;
  border: solid 1px var(--lightgrey);
  border-radius: 5px;
  font-size: 12px;
  transition: border 130ms ease-out, border-color 130ms ease-out,
    color 130ms ease-out, box-shadow 130ms ease-out;
}

.attribute_wrapper:hover {
  border: solid 1px var(--main-color2);
  cursor: pointer;
}

.notif {
  grid-column: 1/2;
  grid-row: 1;
}
.notif_icon {
  font-size: 13px;
  color: var(--main-color2);
  align-self: center;
}

.attributeKey {
  color: var(--text-color5);
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.popupContent {
  display: grid;
  grid-template-rows: auto 10px; /*  button goes in the second row */
  padding: 1em;
  font-size: 0.85em;
}

.popupAction {
  text-align: center;
}

.attribute_link {
  display: block;
  color: var(--main-color2);
  text-decoration: none;
  line-height: 30px;
  max-width: 150px;
}

.attribute_item {
  margin-bottom: 5px;
}
.attribute_item:last-child {
  margin-bottom: 0;
}

.popupField {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 10px 10px;
}

.fieldKey {
  margin-left: 1em;
  color: var(--text-color3);
}

.fieldValue {
  color: var(--text-color2);
  word-break: break-all;
  word-wrap: break-word;
}

.listBlock {
}

.listFieldValue {
  margin: 5px;
  padding: 3px;
  display: inline-flex;
  background-color: var(--grey-lightest);
  border-radius: 3px;
}

.objectFieldValue {
  font-family: 'Courier New';
  font-size: 13px;
  color: var(--fr-color25);
  word-wrap: break-word;
}

.valueContainer {
  overflow: auto;
  max-width: 380px;
  background-color: var(--grey-lightest);
  padding-left: 10px;
  border: 1px solid #dfe2e6;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}
