.root {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 var(--layout-horizontal-padding);
  font-weight: 400;
  line-height: 0;
  color: var(--main-text-color1);
  text-decoration: none;
  transition: background-color 0.4s;
  margin-bottom: 1px;
  cursor: pointer;
}
.root:hover {
  background-color: #ebebeb;
}
.root:last-child {
  margin-bottom: 0;
}

.active {
  background-color: #ebebeb;
}

.icon {
  margin-right: 11px;
  font-size: 24px;
}
.externalLinkIcon {
  margin-left: 5px;
  font-size: 16px;
}

.text {
  font-size: 16px;
}
.text::first-letter {
  text-transform: uppercase;
}
