.tooltip {
  position: absolute;
  background-color: #d6fff9;
  padding: 5px;
  font-size: 14px;
  display: none;
}

.chart {
  /* margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: block; */
  background-color: #f9fafc;
  border-radius: 10px;
  margin: 0 10px;
}

.dropdown {
  padding: 10px;
  outline: none;
}

select {
  outline: none;
  background: #f0f3fb;
  border: 1px solid #f0f3fb;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  color: var(--bg-color2);
  max-width: 180px;
  cursor: pointer;
  appearance: none;
  margin-top: 5px;
}

.chart_selector {
  padding: 10px;
  cursor: pointer;
  position: relative;
  max-width: 180px;
}

.chart_selector:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 28px;
  position: absolute;
  top: 43px;
  right: 24px;
  color: rgb(114, 114, 114);
  pointer-events: none;
}
