.root {
}

.content {
  display: grid;
  grid-template-columns: 400px auto auto 180px;
  grid-template-rows: 50px auto auto 48px auto;
  padding: var(--widget-card-padding);
  font-size: 13px;
  color: var(--fr-color3);
  margin-bottom: 16px;
  background-color: var(--bg-color3);
  border: 1px solid var(--bg-color3);
  user-select: none;
  grid-template-areas:
    'title_block . . owner_block'
    'title_block . . dates'
    'tags . . dates'
    'actions actions actions actions';
}
.content:hover {
  border-color: var(--bg-color2);
}

.project_link {
  text-decoration: none;
  cursor: pointer;
}

.title_block {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-area: title_block;
  grid-gap: 5px;
}

.title {
  color: var(--fr-color2);
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  margin-bottom: 5px;
}

.title_copy_icon {
  margin-left: 6px;
  opacity: 0;
  color: var(--main-color2);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease-out;
}

.title:hover .title_copy_icon {
  opacity: 0.8;
}

.title_copy_icon:hover {
  color: var(--main-color1);
}

.tags_block {
  grid-area: tags;
  margin-top: 16px;
  cursor: default;
}

.dates_block {
  color: var(--fr-color4);
  grid-area: dates;
  align-self: end;
  justify-self: end;
  text-align: end;
  padding-bottom: 8px;
}

.created_date {
  margin-bottom: 8px;
}

.owner_status {
  color: var(--text-color3);
}

.owner_block {
  display: grid;
  grid-template-columns: auto 12px 36px;
  grid-template-areas: 'owner_username_block . owner_avatar';
  align-items: center;
  margin-top: 4px;
  text-align: right;
  color: var(--fr-color3);
  grid-area: owner_block;
  grid-template-rows: 36px auto;
}

.owner_username_block {
  grid-area: owner_username_block;
}

.owner_username {
  display: inline-block;
  max-width: 132px;
  word-break: break-all;
  word-wrap: break-word;
}

.actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.action_delete {
  margin-right: auto;
}

.action_collaborators {
  margin-left: auto;
}
