h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 16px;
}

.container {
  padding-left: 250px;
  overflow-x: hidden;
  white-space: nowrap;
}

.tab{
width: 100%;
display: inline-block;
vertical-align: top;
height: calc(100vh - 49px);
overflow-x: hidden;
overflow-y: scroll;
}

/*
 * Menu
 */

.menu {
  background-color: #D9E0E8;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 250px;
  white-space: initial;
  z-index: 2;
}

.menu-tabs-container {
  border-bottom: 1px dashed #2c3e50;
}

.next-section-container {
  border-top: 1px dashed #2c3e50;
}

.menu-tab {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.menu-tab:hover {
  background-color: #d0d8e2;
}

.menu .selected {
  font-weight: bold;
  background-color: #AEBDCD;
  transition: all 0.3s ease-out;
}

.menu .selected-arrow {
  content: '';
  position: absolute;
  right: -12px;
  top: 17px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #AEBDCD;
  transition: all 0.1s ease;
}

.menu-tab-label {
  line-height: 40px;
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
}

.menu-tab img {
  height: 40px;
  display:inline-block;
  vertical-align: top;
}

.menu-section-container {
  padding: 10px;
}

.filter-area, .set-headings-area {
  height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  transition: all 0.5s ease;
  border: 1px solid #D9E0E8;
  border-bottom: none;
  padding: 0 10px;
}

.select-label {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  line-height: 24px;
}

.sort-container .select-label {
  width: 50px;
}

.select-container {
  margin: 10px 0;
}

.select-container select {
  font-size: 13px;
  width:175px;
}

.group-container {
  display: none;
}

.group-container select {
  width: 100%;
}

.set-headings-container {
  display: none;
}

/*
 * Project info
 */
.project-info-container,
.visualizations-container {
  padding: 20px;
}

.project-name {
  float: left;
}

.project-num-models {
  float: right;
  line-height: 30px;
  font-size: 20px;
}

.project-author,
.project-description {
  clear: both;
  font-size: 14px;
}

/*
 * Summary charts
 */
.summary-chart-container {
  position: relative;
  margin-bottom: 20px;
}

.summary-chart {
  margin: 20px;
  overflow: hidden;
  margin-bottom: 60px;
}

.summary-chart .vega {
  overflow: hidden;
}

.summary-toggle-radio {
  margin: 2px 0;
}

.summary-toggle-radio:first-of-type {
  margin-top: 8px;
}

.summary-toggle-radio input,
.summary-toggle-radio label {
  cursor: pointer;
}

/*
 * Model card
 */

.model-card {
  position: absolute;
  right: -300px;
  top: 0;
  background-color: #D9E0E8;
  opacity: 0.95;
  padding: 10px;
  max-height: 320px;
  overflow-y: scroll;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.model-card .kv {
  padding: 4px 7px;
  cursor: move;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  width: 176px;
}

.model-card .nkv {
  padding: 4px 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 176px;
  cursor: inherit;
}

.model-card .nkv:hover {
  background-color: #D9E0E8;
}

.popup-container {
  color: #00B7FF;
  height: 14px;
  margin-bottom: 2px;
}

.model-card .popup-label {
  cursor: pointer;

}

.popup-contents {
  margin-top: 2px;
  color: black;
}

.open {
  height: initial;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*
 *  Visualizations
 */

.visualizations-container {
  cursor: auto;
  background-color: white;
}

.visualizations-description {
  width: 470px;
  margin-bottom: 25px;
  white-space: initial;
}

.visualization-options {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
}

.visualization-options .select-label {
  width: 70px;
}

.visualization-options .compare-button {
  width: 100%;
  padding: 5px;
  background-color: #AEBDCD;
  font-size: 14px;
  color: white;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.compare-button:hover {
  background-color: #a0b2c5;
}

.explore-chart {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  max-width: 600px;
  overflow-x: scroll;
}

.explore-chart .vega {
  max-height: 250px;
  overflow-y: hidden;
}

.vega-actions {
  position: absolute;
  display: none;
}

.vega-actions a {
  color: black;
  display: inline-block;
  padding: 5px;
  background-color: #AEBDCD;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 200px;
  color: white;
  margin: 10px;
  text-align: center;
}

.vega-actions a:hover {
  background-color: #a0b2c5;
}

/*
 * Models table
 */

.data-table {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.models-container {
  margin: 0 10px;
  height: calc(100vh - 104px);
  overflow-y: auto;
  transition: all 0.3s ease;
}

.model-headings {
  margin: 10px 10px 0 10px;
  background-color: #AEBDCD;
  padding: 5px 20px;
  border: 1px solid #D9E0E8;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
  border-bottom: 0px;
  overflow: hidden;
}

.model-heading {
  padding: 4px 7px;
  display: inline-block;
  box-sizing: border-box;
  width: 190px;
  position: relative;
  opacity: 1;
}

.models-container .model {
  margin: 0 0 10px 0;
  background-color: white;
  padding: 10px 20px 25px 20px;
  border: 1px solid #D9E0E8;
  display: inline-block;
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.models-container .model-section {
  width: 190px;
  display: inline-block;
  vertical-align: top;
}

.models-container .model-section .popup-label {
  cursor: pointer;
}

.models-container .kv {
  padding: 4px 7px;
  cursor: move;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.models-container .nkv {
  padding: 4px 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: inherit;
}

.kv:hover {
  background-color: #AEBDCD;
}

.nkv:hover {
  background-color: white;
}

.triangle-container {
  position: absolute;
  right: 20px;
  top: 0;
}

.triangle-up,
.triangle-down {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.triangle-container.sorted.asc .triangle-down,
.triangle-container.sorted.dsc .triangle-up {
  opacity: 1;
}

.triangle-container:not(.sorted) > .triangle-down {
  opacity: 0.15;
}

.triangle-container:not(.sorted):hover > .triangle-down {
  opacity: 0.4;
}

.dropdown-sort {
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  cursor: pointer;
  opacity: 0.15;
  background-size: 19px 22px;
  background-position: right 0px top 3px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.dropdown-sort:not(.sorted):hover {
  opacity: 0.4;
}

.dropdown-sort.sorted {
  opacity: 1;
}

.dropdown-sort.dsc {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='40.139,39.482 25.166,13.51 10.193,39.481'/></svg>");
  background-size: 19px 22px;
  background-position: right 0px top 3px;
}

.model-see-more {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #00B7FF;
  font-size: 12px;
  cursor: pointer;
  padding-top: 10px;
}

.model-additional-info {
  display: none;
  border-top: 1px solid #eee;
  margin-top: 15px;
  opacity: 0;
}

.model-additional-info h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 300;
}

.model-additional-info .kv {
  display: inline-block;
  vertical-align: top;
  width: 176px;
}

.nkv.json-md-trigger {
  color: #00B7FF;
  cursor: pointer;
}

#md-json {
  padding: 20px;
  max-height: 400px;
  overflow-y: scroll;
}

#md-json .kv {
  display: table;
  cursor: move;
  padding: 4px 7px;
}

#md-json .nkv {
  cursor: initial;
}

#md-json .nkv:hover {
  background-color: #D9E0E8;
}

li.json-kv.ui-draggable-dragging {
  z-index: 2001;
  width: auto;
  list-style-type: none;
}

#md-json li.kv.editable-content {
  cursor: text;
}

#md-json li.kv.elt {
  cursor: text;
}

.save-button, .edit-button {
  float:right;
}

.save-button:disabled {
  cursor: not-allowed;
}

/*
 *  Groups
 */

.groups-bar-container {
  display: inline-block;
  position: relative;
}

.groups-bar {
  height: calc(100vh - 69px);
  width: 25px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0px 10px 15px;
  display: none;
  overflow-y: hidden;
}

.groups-bar.overflow {
  height: calc(100vh - 109px);
  margin: 30px 0px 30px 15px;
}

.data-table.groups-open {
  width: calc(100% - 40px);
}

.model .groups-open,
.groups-open {
  width: 182px;
}

.group-block {
  min-height: 10px;
  margin-bottom: 2px;
  width: 100%;
  opacity: 0.2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.group-block:not(.group-selected):hover {
  opacity: 0.5;
}

.group-selected {
  opacity:0.7;
}

.group-tooltip {
  padding: 10px;
  background-color: rgba(64, 64, 64, 0.95);
  position: absolute;
  left: 46px;
  z-index: 1;
}

.group-tooltip-keys,
.group-tooltip-values {
  display: inline-block;
  vertical-align: top;
}

.group-tooltip-key {
  color: #aaa;
  max-width: 150px;
  text-align: right;
  padding-right: 1px;
  margin-bottom: 1px;
}

.group-tooltip-value {
  color: white;
  margin-bottom: 1px;
}

.overflow-caret {
  position: absolute;
  opacity: 0.3;
  right: 0px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.overflow-caret:hover {
  opacity: 0.7;
}

.overflow-caret img{
  width: 25px;
}

.overflow-up {
  top: 5px;
}

.overflow-down {
  bottom: 2px;
}

/*
 * Filters
 */

.filter-area-highlight, .set-headings-highlight {
  background-color: rgba(130,130,130, 0.2);
  border: 1px solid #AEBDCD;
  border-bottom: none;
}

.filter-button, .set-headings-button {
  width: 100%;
  padding: 5px;
  background-color: #AEBDCD;
  font-size: 14px;
  color: white;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button:hover, .set-headings-button:hover {
  background-color: #a0b2c5;
}

.filter-button-disabled, .set-headings-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.kv.ui-draggable-dragging {
  background-color: #AEBDCD;
  z-index: 3;
  width: 176px;
  padding: 4px 7px;
  border-radius: 2px;
  pointer-events:none;
}

.groups-open .kv.ui-draggable-dragging {
  width: 166px;
}

.filter, .range, .sort {
  margin: 10px 0;
  padding: 5px;
  background-color: #AEBDCD;
  border-radius: 2px;
  color: #2c3e50;
  position: relative;
}

.filter-key, .filter-val, .range-key {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  cursor: default;
}

.filter-key {
  white-space: nowrap;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-val {
  color: white;
}

.selected-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  margin-left: 5px;
  cursor: default;
}

.item-close,
.filter-close,
.range-close,
.sort-close {
  color: #D9E0E8;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  right: 6px;
  top: 5px;
}

.item-close:hover,
.filter-close:hover,
.range-close:hover,
.sort-close:hover {
  color: #000;
}

.range-options {
  margin: 5px 0;
}

.range-options select {
  width: 45px;
  color: black;
}

.range-input {
  text-align: right;
  width: calc(100% - 60px);
}

.filter-expand {
  color: #D9E0E8;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 11px;
  line-height: 18px;
  opacity: 0.7;
  position: absolute;
  top: 4px;
  right: 16px;
}

.filter-expand:hover {
  color: #2c3e50;
  opacity: 0.5;
}

.filter-options {
  padding: 4px 0;
  margin: 6px 0 -2px 0;
  display: none;
}

.filter-options input[type=text] {
  width: 129px;
  padding: 2px 4px;
  font-weight: 100;
  margin: 0 2px;
}

.filter-val {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-val.invert:before {
  content: "NOT( ";
}

.filter-val.invert:after {
  content: " )";
}

.filter-kv-container {
  width: calc(100% - 25px);
  white-space: nowrap;
  display: flex;
}

/*
 *  Experiments
 */

.tab[data-id="1"] {
  position: relative;
}

.experiments-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 49px);
  background-color: rgba(236,240,241, 0.9);
}

.experiments-container .kv {
  padding: 4px 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: move;
  width: 176px;
}

/*
 * Annotations
 */
.nkv.annotation {
  position: relative;
  padding-right: 16px;
}

.annotation-create {
  position: absolute;
  top: 3px;
  right: -1px;
  line-height: 16px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.2;
  font-weight: 600;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.annotation-create:hover {
  opacity: 1;
}

.md-input-container {
  padding: 10px;
  background-color: rgba(174,189,205,0.5);
}

.md-input {
  display: inline-block;
  width: calc(100% - 45px);
  padding: 5px;
  font-size: 15px;
  font-weight: 300;
  vertical-align: top;
  border-radius: 5px;
}

.md-send {
  width: 20px;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  margin-left:2px;
  margin-top: -1px;
  border-radius: 5px;
  opacity: 0.2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.md-send.enabled {
  opacity: 0.5;
}

.md-send.enabled:hover {
  opacity: 0.8;
}

.md-model-id {
  display: inline-block;
}

.md-header {
  background-color: #2c3e50
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8;
  background: #2c3e50;
  border-radius: 3px 3px 0 0;
  color: white;
}

.md-body {

}

.md-annotations {
  height: 300px;
  overflow-y: scroll;
  padding: 5px 10px;
}

.md-annotation {
  background-color: white;
  padding: 7px;
  margin: 5px 2px;
  border-radius: 5px;
  display: inline-block;
  font-size: 15px;
}

/* Custom table styling */
#modal-table {
  width: auto;
}

#md-table {
  padding: 15px;
}

#md-table table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  display: block;
}

#md-table .model-headings {
  background-color: #AEBDCD;
}

#md-table th, #md-table td {
    text-align: center;
    padding: 8px;
}

#md-table tr {
  background-color: white;
  border: 1px solid #D9E0E8;
}
