a {
  color: #00B7FF;
}

h1 {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.67em;
  background-color: white;
  z-index: 1;
  width: 100%;
}

h2 {
  margin: 0 0 5px 0;
}

.menu {
  width: 325px;
  position: fixed;
  right: -325px;
  top: 0;
  padding-top: 49px;
  height: 100vh;
  background-color: #D9E0E8;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1;
}

.filters-container,
.sort-container {
  padding: 10px;
}

.filter-area {
  height: 250px;
  overflow-y: auto;
}

.sort-area {
  height: 60px;
}

.filter, .range, .sort {
  margin: 10px 0;
  padding: 5px;
  background-color: #AEBDCD;
  border-radius: 2px;
  color: white;
}

.filter-key, .filter-val, .range-key {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.filter-close,
.range-close,
.sort-close {
  float: right;
  color: #D9E0E8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-close:hover,
.range-close:hover,
.sort-close:hover {
  color: #000;
}

.range-options {
  margin: 5px;
}

.range-options select {
  width: 45px;
  color: black;
}

.range-input {
  text-align: right;
  width: calc(100% - 60px);
}

.model-section {
  display: inline-block;
  vertical-align: top;
}

.model-headings {
  margin: 10px 10px 0 10px;
  background-color: #AEBDCD;
  padding: 5px 20px;
  border: 1px solid #D9E0E8;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
  border-bottom: 0px;
}

.model-heading {
  padding: 4px 7px;
  display: inline-block;
  box-sizing: border-box;
}

.models-container {
  margin: 0 10px;
  height: calc(100vh - 165px);
  overflow-y: auto;
  transition: all 0.3s ease;
}

.model {
  margin: 0 0 10px 0;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #D9E0E8;
}

.model-ids {
  width: 200px;
}

.model-dataframe {
  width: 200px;
}

.model-spec {
  width: 200px;
}

.model-metrics {
  width: 250px;
}

.model-misc {
  width: 200px;
}

.kv {
  padding: 4px 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2px;
}

.nkv {
  padding: 4px 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ui-draggable-dragging{
  pointer-events:none;
}

.kv:hover {
  background-color: #AEBDCD;
}

.kv.ui-draggable-dragging {
  background-color: #AEBDCD;
  z-index: 4;
}

.select-label {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  line-height: 27px;
}

.select-container {
  margin: 10px 0;
}

.select-container select {
  width:250px;
}

.compare-button {
  width: 100%;
  padding: 5px;
  background-color: #AEBDCD;
  font-size: 14px;
  color: white;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.compare-button:hover {
  background-color: #a0b2c5;
}

.vega-actions {
  display: none;
}

.hyperparams-container {
  position: relative;
  overflow: visible;
  cursor: pointer;
  color: #00B7FF;
}

.hyperparams {
  background-color: #ecf0f1;
  position: absolute;
  top: 0;
  right: -220px;
  z-index: 1;
  height: 300px;
  overflow-y: auto;
  display: none;
  color: black;
}

.hyperparam {
  background-color: white;
  margin: 10px;
  border: 1px solid #D9E0E8;
  padding: 10px;
}

.model-chart {
  margin: 60px 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
}

.charts-container {
  width: 345px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
}


.chart-container {
  background-color: #ecf0f1;
  width: 100%;
  height: 50px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  transition: all 0.5s ease;
}

.chart-container h2 {
  margin-bottom: 25px;
  line-height: 30px;
}

.chart-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px;
  cursor: pointer;
  color: #AEBDCD;
  transition: all 0.5s ease;
}

.chart-toggle:hover {
  color: #2c3e50;
}

.models-container-hide {
  height: calc(100vh - 600px);
}

.chart-container-show {
  height: 500px;
}