/*
 * Models
 */

.models-container {
  margin: 0 10px;
  height: calc(100vh - 104px);
  overflow-y: auto;
  transition: all 0.3s ease;
}

.model-headings {
  margin: 10px 10px 0 10px;
  background-color: #AEBDCD;
  padding: 5px 20px;
  border: 1px solid #D9E0E8;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
  border-bottom: 0px;
  overflow: hidden;
}

.model-heading {
  padding: 4px 7px;
  display: inline-block;
  box-sizing: border-box;
  width: 190px;
  position: relative;
  opacity: 1;
}

.models-container .model {
  background-color: white;
  padding: 10px 20px 25px 20px;
  border: 1px solid #D9E0E8;
  display: inline-block;
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.models-container .model-section {
  width: 190px;
  display: inline-block;
  vertical-align: top;
}

.models-container .model-section .popup-label {
  cursor: pointer;
}

.models-container .kv {
  padding: 4px 7px;
  transition: background-color 0.3s ease;
  border-radius: 2px;
}

.models-container .nkv {
  padding: 4px 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: inherit;
}

.model-see-more {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #00B7FF;
  font-size: 12px;
  cursor: pointer;
}

.model-additional-info {
  display: none;
  border-top: 1px solid #eee;
  margin-top: 15px;
  opacity: 0;
}

.model-additional-info h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 300;
}

.model-additional-info .kv {
  display: inline-block;
  vertical-align: top;
  width: 176px;
}


/*
 * Popups
 */
.popup-container {
  color: #00B7FF;
  height: 14px;
  margin-bottom: 2px;
}

.popup-contents {
  margin-top: 2px;
  color: black;
}

.open {
  height: initial;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*
 * Annotations
 */
.nkv.annotation {
  position: relative;
  padding-right: 16px;
}

.annotation-create {
  position: absolute;
  top: 3px;
  right: -1px;
  line-height: 16px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.2;
  font-weight: 600;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.annotation-create:hover {
  opacity: 1;
}

.md-input-container {
  padding: 10px;
  background-color: rgba(174,189,205,0.5);
}

.md-input {
  display: inline-block;
  width: calc(100% - 45px);
  padding: 5px;
  font-size: 15px;
  font-weight: 300;
  vertical-align: top;
  border-radius: 5px;
}

.md-send {
  width: 20px;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  margin-left:2px;
  margin-top: -1px;
  border-radius: 5px;
  opacity: 0.2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.md-send.enabled {
  opacity: 0.5;
}

.md-send.enabled:hover {
  opacity: 0.8;
}

.md-model-id {
  display: inline-block;
}

.md-header {
  background-color: #2c3e50
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8;
  background: #2c3e50;
  border-radius: 3px 3px 0 0;
  color: white;
}

.md-body {

}

.md-annotations {
  height: 300px;
  overflow-y: scroll;
  padding: 5px 10px;
}

.md-annotation {
  background-color: white;
  padding: 7px;
  margin: 5px 2px;
  border-radius: 5px;
  display: inline-block;
  font-size: 15px;
}

