a {
  color: black;
}

.input-container {
  margin: 10px;
}

.input-container input {
  padding: 5px;
  font-size: 15px;
  font-weight: 100;
  width: 325px;
}

.input-container input:focus {
  outline: none;
}

.projects {
  margin: 10px;
}

.project {
  border: 1px solid #D9E0E8;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.project:hover {
  box-shadow: 5px 5px 10px #AEBDCD;
}

.project-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.project-time {
  color: #aaa;
}

.project-model {
  display: inline-block;
}

.project-model::after {
  content:',';
}

.project-model:last-child::after {
  content: '';
}