a {
  color: black;
}

.input-container {
  margin: 10px;
}

.input-container input {
  padding: 5px;
  font-size: 15px;
  font-weight: 100;
  width: 325px;
}

.input-container input:focus {
  outline: none;
}

.projects {
  margin: 10px;
}

.project h2 {
  font-size: 16px;
  font-weight: 300;
}

.project {
  border: 1px solid #D9E0E8;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  position: relative;
}

.project:hover {
  box-shadow: 5px 5px 10px #AEBDCD;
}

.project-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
  line-height: 22px;
}

.project-num-models {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 22px;
}

.project-info-container {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.project-date {
  color: #aaa;
}

.project-model {
  display: inline-block;
}

.project-model::after {
  content:',';
}

.project-model:last-child::after {
  content: '';
}

.project-metrics-column {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.project-min-models,
.project-max-models {
  text-align: right;
}

.project-metrics-column h2 {
  padding: 4px 7px;
  box-sizing: border-box;
  margin: 2px 0;
  font-weight: 400;
}

.project-metric-name,
.project-min-model,
.project-max-model {
  padding: 2px 7px;
}

.project-min-model,
.project-max-model {
  cursor: pointer;
}