body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

h2 {
  margin: 0 0 5px 0;
}

nav {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.95;
  z-index: 2;
  position: fixed;
}

nav .logo {
  display: inline-block;
}

nav .path {
  display: inline-block;
  color: #95a5a6;
}

nav .nav-link {
  color: #95a5a6;
  float: right;
  font-size: 20px;
  line-height: 29px;
  font-weight: 100;
  transition: all 0.3s ease;
  margin: 0 7px;
  cursor: pointer;
}

nav .nav-link:hover {
  color: white;
}

.container {
  padding-top: 49px;
}


select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#AEBDCD;
  background-repeat:no-repeat;
  background-position: right 10px top 7px;
  background-size: 16px 16px;
  color:white;
  padding:5px;
  font-size:14px;
  font-weight: 300;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}

select:focus, select:active {
  border:0;
  outline:0;
}

.loader {
  background-color: white;
  background-color: #ecf0f1;
  width: 100%;
  height: calc(100vh - 49px);
  line-height: calc(100vh - 49px);
  position: fixed;
  left: 0;
  top: 49px;
  text-align: center;
  opacity: 0.7;
  z-index: 5;
}

.loader img {
  vertical-align: middle;
  height: 200px;
  width: 200px;
}