.root {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: 13px auto 12px;
  border-width: 1px 0 0 0;
  border-color: var(--border-color1);
  border-style: solid;
  align-items: top;
}

.root:first-child {
  border: none;
}

.label {
  font-size: 14px;
  color: rgb(141, 141, 141);
  margin-bottom: 3px;
}

.label {
  grid-row: 2;
  color: var(--fr-color25);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.value {
  grid-row: 2;
  color: var(--fr-color3);
  font-size: 16px;
  line-height: 16px;
}
