.summary_wrapper {
  padding: 20px 0 40px 30px;
  background-color: var(--bg-color3);
  border: 1px solid var(--bg-color3);
}

.bar-xaxis text {
  fill: rgb(196, 196, 196);
  color: rgb(196, 196, 196);
}

.bar-label {
  font-size: 9px;
}

.sub_menu {
  margin: 0 0 20px 0;
}

.dropdown {
  padding: 10px;
  outline: none;
  margin-top: 5px;
}

select {
  outline: none;
  background: #f0f3fb;
  border: 1px solid #f0f3fb;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: var(--bg-color2);
  max-width: 180px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.chart_selector {
  padding: 10px;
  cursor: pointer;
  position: relative;
  max-width: 180px;
}

.chart_selector:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 28px;
  position: absolute;
  top: 36px;
  right: 24px;
  color: rgb(114, 114, 114);
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}
