.model_layout {
  background-color: var(--bg-color3);
  padding: 18px 30px 30px 30px;
}

.record {
  display: grid;
  grid-template-columns: 175px auto;
  grid-template-rows: 13px auto 12px;
  border-width: 1px 0 0 0;
  border-color: var(--border-color1);
  border-style: solid;
  align-items: top;
}

.record:first-child {
  border: none;
}

.record_divider {
  grid-template-columns: auto;
}

.record_summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 13px auto 12px;
  align-items: top;
}

.tags {
  display: inline-block;
  padding: 5px 3px;
}

.record_summary_main {
  grid-row: 2;
  color: var(--fr-color2);
  line-height: 18px;
}

.record_name {
  font-size: 22px;
  margin-top: 5px;
}

.record_label {
  font-size: 14px;
  color: rgb(141, 141, 141);
}

.meta_block {
  padding: 5px;
  display: flex;
}

.meta_label {
  font-size: 14px;
  color: rgb(141, 141, 141);
}

.meta_value {
  padding-left: 5px;
  color: var(--fr-color2);
}

.record_summary_meta {
  grid-row: 2;
  font-size: 15px;
  line-height: 18px;
}

.record_header {
  grid-row: 2;
  color: var(--fr-color2);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.record_header_divider {
  font-size: 18px;
  margin: 5px 0;
}

.record_value {
  grid-row: 2;
  color: var(--fr-color3);
  font-size: 16px;
  line-height: 16px;
}

.record_value.name {
  font-weight: 500;
  color: var(--fr-color2);
}

.record_value.list {
  line-height: 25px;
  margin: -5px 0;
}

.tag {
  height: 34px;
  width: 100px;
  border: 1px solid var(--border-color1);
  border-radius: 2px;
  margin-right: 12px;
  float: left;
  display: grid;
  justify-items: center;
  align-items: center;
}

.tag_text {
  color: #4e4e4e;
  font-size: 13px;
  line-height: 15px;
}

.loader {
  display: flex;
  justify-content: center;
}

.notDeployedMsg {
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-columns: 1em auto;
  font-size: 14px;
  font-style: italic;
  color: var(--text-color3);
  padding: 2em;
  background-color: var(--main-color1-light);
  border: solid 0.5px var(--main-color1);
  border-radius: 5px;
  white-space: pre-wrap;
  max-width: 24em;
  opacity: 0.85;
}
