.root {
  width: 100%;
}

.reloading {
  position: relative;
  opacity: 0.4;
  pointer-events: none;
}
.reloadingPreloader {
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.comparingInfo {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  color: var(--main-text-color1);
}

.commitPointer {
}
