.root {
  width: 100%;
}

.reloading {
  position: relative;
  opacity: 0.4;
  pointer-events: none;
}
.reloadingPreloader {
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.comparingInfo {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--main-text-color3);
  color: var(--main-text-color1);
}

.commitPointer {
}

.merge {
  margin-left: auto;
}
