.project_widget {
  display: grid;
  grid-template-columns: 310px auto 180px;
  min-height: 155px;
  padding: 30px;
  font-size: 13px;
  color: var(--fr-color3);
  margin: 0 0 16px 0;
  background-color: var(--bg-color3);
  border: 1px solid var(--bg-color3);
}

.project_widget:hover {
  border: 1px solid var(--bg-color2);
}

.project_link {
  text-decoration: none;
  outline: none;
}

.metrics_block {
}

.metrics_header {
  color: var(--bg-color2);
  font-size: 15px;
}

.metrics_header_item {
  height: 26px;
  line-height: 18px;
}

.title_block {
  display: grid;
  grid-template-rows: 32px auto auto 24px;
}

.title {
  color: var(--fr-color2);
  font-size: 20px;
  line-height: 24px;
}

.description {
  line-height: 15px;
}

.model_counter {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  margin-right: 6px;
}

.tags_block {
}

.tags {
  color: var(--fr-color2);
  display: inline-block;
  background: #d6fff9;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.author_block {
  display: grid;
  grid-template-columns: auto 54px;
  grid-template-rows: auto 70px;
  text-align: right;
  justify-content: end;
  justify-items: end;
  color: var(--fr-color3);
}

.autor_name {
  display: inline;
}

.created_date_block {
  color: var(--fr-color4);
  grid-column-start: 1;
  grid-column-end: end;
}

.inline_block {
  display: inline-block;
}
