.project_widget {
  display: grid;
  grid-template-columns: 310px auto auto 180px;
  grid-template-rows: 50px 28px auto 48px;
  padding: 30px;
  font-size: 13px;
  color: var(--fr-color3);
  margin-bottom: 16px;
  background-color: var(--bg-color3);
  border: 1px solid var(--bg-color3);

  grid-template-areas:
    'title_block metrics_block metrics_block author_block'
    'title_block metrics_block metrics_block dates'
    'tags metrics_block metrics_block dates'
    'count_block . collaborators collaborators';
}

.project_widget:hover {
  border: 1px solid var(--bg-color2);
}

.project_link {
  text-decoration: none;
  outline: none;
}

.metrics_block {
  grid-area: metrics_block;
}

.metrics_header {
  color: var(--bg-color2);
  font-size: 15px;
}

.metrics_header_item {
  height: 26px;
  line-height: 18px;
}

.title_block {
  display: grid;
  grid-template-rows: 32px auto auto 24px;
  grid-area: title_block;
}

.title {
  color: var(--fr-color2);
  font-size: 20px;
  line-height: 24px;
}

.description {
  line-height: 15px;
}

.model_counter {
  font-size: 20px;
  font-weight: 300;
  margin-right: 6px;
}

.tags_block {
  grid-area: tags;
  margin-bottom: -6px;
}

.tag {
  height: 28px;
  border: 1px solid var(--main-color2);
  border-radius: 17px;
  margin-right: 6px;
  margin-bottom: 6px;
  float: left;
  display: grid;
  justify-items: center;
  align-items: center;
}

.tag_text {
  color: var(--text-color2);
  font-size: 13px;
  line-height: 15px;
  margin: 0 12px;
}

.created_date_block {
  color: var(--fr-color4);
  grid-area: dates;
  align-self: end;
  justify-self: end;
  text-align: end;
  padding-bottom: 8px;
}

.created_date {
  margin-bottom: 8px;
}

.author_status {
  color: var(--text-color3);
}

.author_block {
  display: grid;
  grid-template-columns: auto 12px 36px;
  grid-template-areas: 'author_name . author_avatar';
  align-items: center;
  margin-top: 4px;
  text-align: right;
  color: var(--fr-color3);
  grid-area: author_block;
  grid-template-rows: 36px auto;
}

.author_name {
  grid-area: author_name;
}

.author_avatar {
  font-family: 'Roboto';
  font-weight: 400;
  grid-area: author_avatar;
  font-size: 16px;
  line-height: 19px;
}

.model_count_block {
  grid-area: count_block;
  align-self: end;
}

.collaborators {
  grid-area: collaborators;
  justify-self: end;
  align-self: end;
}

.collaborate_button {
  height: 40px;
  min-width: 122px;
  max-width: 210px;
  border: 1px solid var(--line-color2);
  border-radius: 20px;
  color: var(--text-color3);
  background-color: var(--main-color3);
  font-size: 13px;
  line-height: 15px;
  outline: none;
  margin-right: -3px;
  padding: 0;
}

.collaborate_button .combined_icon {
  filter: invert(0.5);
}

.collaborate_button:hover {
  background-color: var(--main-color2);
  color: var(--main-color3);
  border-color: var(--main-color2);
  outline: none;
}

.collaborate_button:focus {
  outline: none;
}

.collaborate_button:hover .combined_icon {
  filter: invert(1);
}

.collaborate_button .collaborator_avatar {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 2px;
}
