.root {
  display: grid;
  padding: 8px 0;
  padding-left: var(--horizontal-padding);
  grid-template-columns: 24px auto;
  grid-column-gap: 9px;
  border-bottom: 1px solid var(--border-color1);
  align-items: center;
}
.root:hover {
  background-color: #f6f8fa;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--main-text-color3);
  font-size: 22px;
}

.name {
  font-size: 14px;
}

.name__link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--link-color);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.name__link:hover {
  text-decoration: underline;
}
