.root {
}

.commit {
  display: inline-block;
  font-size: 13px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commitTitle {
  font-size: 15px;
  font-weight: 500;
}

.diff {
  margin-top: 20px;
}
