.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 3px 0 0 15px;
}

.tags li {
  float: left;
  overflow: hidden;
  padding: 2px;
}

.tag {
  color: rgb(83, 83, 83);
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border-width: 0 !important;
  background-color: var(--vgreen-lighter);
  opacity: 0.95;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0px 7px 3px 7px;
  position: relative;
  -webkit-transition: color 0.05s;
  cursor: move;
}

.tag:hover {
  background-color: var(--vgreen-light);
  color: #444;
}

/* .tag_block {
  background-color: rgb(240, 240, 240);
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
  border: none;
  border-style: groove;
} */

.staticTag {
  font-size: 0.85em;
  color: rgb(83, 83, 83);
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border-width: 0 !important;
  background-color: var(--vgreen-lighter);
  opacity: 0.95;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0px 7px 0px 7px;
  position: relative;
}

.projectTags {
  /* margin-top: 2px; */
  /* padding: 2px 0; */
}
