.root {
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--border-color1);
  padding: 4px;
}

.location {
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  padding: 2px 4px;
}

.header {
  padding: 8px 0 10px;
}
