.root {
  font-size: 13px;
}

.description {
  line-height: 18px;
  margin-bottom: 12px;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  cursor: default;
}

.description_empty {
  color: var(--text-color5);
}

.desc_action_block {
  display: inline-flex;
  line-height: 12px;
  margin-left: 10px;
}

.desc_readonly {
  display: inline-flex;
}
