.fai {
  display: inline-flex;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  font-size: var(--font-size4);
  cursor: pointer;
  outline: none;
  transition: background 130ms ease-out, border-color 130ms ease-out,
    color 130ms ease-out, box-shadow 130ms ease-out;
}
.fai.disabled {
  color: var(--disabled-color) !important;
  border-color: var(--disabled-color) !important;
  cursor: default !important;
  pointer-events: none;
}
.fai:focus {
  box-shadow: 0 2px 2px 0 rgba(57, 55, 128, 0.5);
}

.active {
  background-color: var(--bg-color1);
}

.theme_primary {
  color: var(--button-secondary-color);
  border-color: var(--bg-color2);
  border-color: var(--button-secondary-border);
}
.theme_primary:hover {
  color: #ffffff;
  background: var(--button-primary-hover-bg);
}

.theme_tertiary {
  border-color: #9a9a9a;
  color: #888888;
}
.theme_tertiary:hover {
  color: #ffffff;
  background: #b8b7c9;
}

.theme_red {
  color: var(--delete-color1);
  border-color: var(--delete-color1);
}

.unmuted_icon {
  color: red;
  border-color: red;
  pointer-events: visible !important;
}

.theme_green {
  color: var(--bg-color1);
  border-color: var(--main-color1-dark);
}

.icon {
  font-size: 15px;
  line-height: 0;
}
