.content {
  font-size: 14px;
  line-height: 18px;
}

.arrow {
  margin: 0 9.5px;
  color: var(--grey-light);
}

.link {
  text-decoration: none;
  color: var(--grey-light);
  outline: none;
}

.link:hover {
  color: var(--main-color3);
}

.active_link {
  color: var(--grey-lightest);
}
