.root {
  display: flex;
  padding: 8px 10px;
  border-bottom: 1px solid #eaecef;
}
.root:last-child {
  border-bottom: none;
}
.root:hover {
  background-color: #f6f8fa;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.message {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #444d56;
}

.meta {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.author {
  display: flex;
  align-items: center;
}
.author__username {
  margin-left: 5px;
  color: #586069;
  font-weight: 500;
}

.date {
  margin-left: 5px;
  color: #586069;
}

.actions {
  display: flex;
  margin-left: auto;
}
.actions__group {
  margin-right: 10px;
}
.actions__group:last-child {
  margin-right: 0;
}

.action {
  font-size: 13px !important;
  height: 38px !important;
}

.action__icon {
  font-size: 14px;
}
