.labeledField {
  margin-bottom: 15px;
}
.labeledField:last-child {
  margin-bottom: 0;
}
.labeledField__label {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}
.required .labeledField__label::after {
  padding-left: 5px;
  color: #cb2431;
  content: '*';
}
.labeledField__label::first-letter {
  text-transform: uppercase;
}
