.root {
}

.message {
  text-align: center;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px #000;
}

.action:first-child {
  margin-right: 5px;
}

.input {
  background-color: var(--grey-lighter);
  font-weight: 300;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.prompt_desc_limit {
  padding: 5px 0;
  font-size: 12px;
  color: var(--warn-yellow);
}
