.layout {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  background-color: #f6f9fc;

  grid-template-columns: auto minmax(940px, 1060px) auto;
  grid-template-rows: 56px auto 56px;
  grid-template-areas:
    'header header header'
    '. content .'
    'footer footer footer';
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  padding: 30px 40px;
  justify-self: center;
}

.footer {
  grid-area: footer;
}
