.content_share {
  display: grid;
  margin-bottom: 40px;
  justify-items: center;
  grid-template-rows: 36px 60px auto;
}

.content_header {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.form_group:focus-within .share_button {
  visibility: visible;
}

.share_button {
  visibility: collapse;
  background: var(--main-color3);
  cursor: pointer;
  width: 40px;
  border: none;
  position: relative;
  border-radius: 3px;
  display: inline-block;
}

.share_button:after {
  content: '';
  background: #999999;
  position: absolute;
  top: 9px;
  left: 0;
  height: 50%;
  width: 1px;
}

.share_result_content {
  width: 100%;
  display: grid;
  margin-bottom: 55px;
  justify-items: center;
  grid-template-rows: 71px 22px auto;
}

.share_result_header {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.share_result_text {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.share_result_button {
  margin-top: 2px;
}

.icon {
  font-size: 60px;
}
