.content_share {
  margin-top: 30px;
  display: grid;
  margin-bottom: 20px;
  justify-items: center;
  grid-template-rows: 36px 60px auto;
}

.content_header {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.send_invitation_button {
  height: 34px;
  width: 164px;
  border-radius: 2px;
  background-color: var(--main-color2);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--main-color3);
}

.send_invitation_button:hover {
  background-color: #6a84ff;
}

.form_group:focus-within .share_button {
  visibility: visible;
}

.share_button {
  visibility: collapse;
  background: var(--main-color3);
  cursor: pointer;
  width: 40px;
  border: none;
  position: relative;
  border-radius: 3px;
  display: inline-block;
}

.share_button:after {
  content: '';
  background: #999999;
  position: absolute;
  top: 9px;
  left: 0;
  height: 50%;
  width: 1px;
}

.content_share_sucess {
  margin-top: 35px;
  display: grid;
  margin-bottom: 55px;
  justify-items: center;
  grid-template-rows: 71px 22px auto;
}

.invitation_success_header {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.invitation_success_button {
  font-size: 13px;
  line-height: 15px;
  height: 20px;
  text-align: center;
  background: var(--main-color3);
  cursor: pointer;
  border: none;
}

.invitation_success_button_text {
  color: var(--main-color2);
  border-bottom: 1px solid rgb(104, 99, 255, 0.3);
  cursor: pointer;
}
