.root {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border: var(--input-border);
  border-radius: 2px;
}
.theme_dark {
  border-color: #777777;
}

.with_icon.input {
  padding-right: 35px;
}
.focused.input {
  border-color: var(--main-color2);
}

.left_content {
  display: flex;
  height: 100%;
  align-items: center;
}

.field {
  width: 100%;
  height: 100%;
  padding-left: var(--input-padding-left);
  padding-right: 12px;
  font-size: var(--font-size4);
  outline: none;
  border: none;
}

.theme_light .field::placeholder {
  color: #888888;
}
.theme_dark .field::placeholder {
  font-weight: 500;
  color: var(--main-text-color1);
}

.size_small {
  height: 34px;
}
.size_medium {
  height: 42px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 18px;
  transform: translateY(-50%);
}
.theme_light .icon {
  color: var(--fr-color5);
}
.theme_dark .icon {
  color: #777777;
}

.disabled {
  color: #dddddd;
  cursor: default;
  background-color: #dddddd;
}
