.root {
  margin-bottom: -6px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
  cursor: default;
}

.root_empty {
  font-size: 13px;
}

.open_add_tag_modal_wrapper {
  display: inline-flex;
  cursor: pointer;
}
.open_add_tag_icon {
  font-size: 16px;
  margin: 5px 10px;
  display: inline;
}

.tag_sub_heading {
  margin: 0;
  top: -3px;
  position: relative;
}

.tag_sub_heading_div {
  color: var(--text-color5);
  display: inline-flex;
  margin: 5px 0;
}
