.root {
  height: 100%;
  position: relative;
  overflow-y: auto;
  padding-left: var(--layout-horizontal-padding);
  padding-right: calc(var(--layout-horizontal-padding) - 6px);
  margin-right: 5px;
}

.quick_filter_input {
}

.filters {
}
.collapsed .filters {
  display: none;
}

.ids_filter_section {
  margin-top: 25px;
  border-radius: 4px;
  background-color: var(--bg-color4);
}
.ids_filter_section_title {
  color: var(--fr-color3);
}
.ids_filter {
  height: 200px;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--bg-color4);
  overflow: auto;
  margin-top: 25px;
  position: relative;
}
.ids_filter_empty {
  background-position-x: 50%;
  background-position-y: 70px;
  background-image: url('/images/add-row-colored.svg');
  background-repeat: no-repeat;
  background-size: 36px;
}

.id_action_section {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.id_action_button {
  width: 95px;
  justify-self: center;
}

.id_filters_placeholder {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 135px;
  transform: translateX(-50%);
  text-align: center;
  color: #888888;
  font-style: italic;
  font-size: 13px;
}
.ids_filter_item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  background-color: white;
  color: var(--fr-color3);
  margin-bottom: 6px;
}
.ids_filter_item_remove {
  margin-right: 6px;
}
.ids_filter_item_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.instant_filters {
  height: 350px;
  overflow: auto;
  background-color: var(--bg-color4);
  margin-top: 25px;
  border-radius: 4px;
  padding: 12px;
  position: relative;
}
.instant_filters_empty {
  background-position-x: 50%;
  background-position-y: 100px;
  background-image: url('/images/drag-and-drop.svg');
  background-repeat: no-repeat;
  background-size: 46px;
}
.instant_filters_placeholder {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 135px;
  transform: translateX(-50%);
  text-align: center;
  color: #888888;
  font-style: italic;
  font-size: 13px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
