<div class="experiments-container">
  <div class="experiments">

    <div class="experiment">
      <% for (var i=0; i<experiments.length; i++) { %>
        <div class="kv"
          data-key="Experiment ID"
          data-val="<%= experiments[i].id %>"
        >
          Experiment ID: <%= experiments[i].id %>
        </div>
        <div class="experiment-details>"
          <div class="experiment-name">
            <%= experiments[i].name %>
          </div>
          <div class="experiment-description">
            <%= experiments[i].description %>
          </div>
      <% } %>
    </div>

  </div>
</div>