<div
  class="filter"
  data-key="<%= key %>"
  data-val="<%= val %>"
>
  <div class="filter-key"><%= key %></div>:
  <div class="filter-val"><%= val %></div>
  <div class="filter-close">X</div>
</div>