<div class="group-tooltip">
  <div class="group-tooltip-keys">
    <div class="group-tooltip-key"><%= key %>:</div>
    <% if (description) { %>
      <div class="group-tooltip-key">description:</div>
    <% } %>
    <div class="group-tooltip-key">models:</div>
  </div>

  <div class="group-tooltip-values">
    <div class="group-tooltip-value"><%= value %></div>
    <% if (description) { %>
      <div class="group-tooltip-value"><%= description %></div>
    <% } %>
    <div class="group-tooltip-value"><%= num %></div>
  </div>
</div>