<div class="range">
  <div class="range-key"><%= key %></div>
  <div class="range-close">X</div>
  <div class="range-options">
    <select>
      <option value="<"><</option>
      <option value=">">></option>
    </select>
    <input class="range-input" type="text"></input>
  </div>
</div>