<div
  class="selected-heading filter"
  data-key="<%= key %>"
>
  <div class="selected-heading-container filter-kv-container">
    <div class="selected-heading tooltip-trigger show-on-overflow"
      data-val="<%= key %>"
    >
      <%= key %>
    </div>
  </div>
  <div class="item-close">X</div>

</div>