.root {
  display: grid;
  padding: 8px 16px;
  grid-template-columns: max-content auto max-content;
  grid-column-gap: 5px;
  border-bottom: 1px solid #c8e1ff;
  font-size: 13px;
  align-items: center;
  background-color: #f1f8ff;
  color: rgb(88, 96, 105);
}

.author {
  display: flex;
  align-items: center;
}

.author__username {
  margin-left: 5px;
  font-weight: 600;
  color: #24292e;
}

.message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateCreated {
}
