.dashboard_cog {
  font-size: 14px;
  color: grey;
}

.title {
  margin: 0px;
  color: #444;
}

.user_bar {
  float: right;
  margin: -30px 0 0 -50px;
  display: grid;
  grid-template-columns: 36px 22px;
  align-items: center;
  justify-items: end;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.root {
  position: relative;
  color: var(--fr-color2);
}

.drop_down {
  font-family: Roboto;
  position: absolute;
  background-color: var(--bg-color3);
  border: solid 1px lightgray;
  margin-top: 20px;
  margin-right: 15px;
  padding: 25px 20px 20px 20px;
  font-size: 12px;
  width: 200px;
  right: 0;
  z-index: 100;
  /* -webkit-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.2); */
}

.menu_items {
  margin: 20px 0;
}
.menu_items:last-of-type {
  margin-bottom: 0;
}
.menu_items a {
  text-decoration: none;
  color: var(--fr-color3);
}
.menu_items a:hover {
  color: var(--fr-color2);
}
.menu_items:last-of-type a {
  color: var(--fr-color4);
}
.menu_items:last-of-type a:hover {
  color: var(--fr-color3);
}

.menu_item {
  display: flex;
  cursor: pointer;
  margin-bottom: 4px;
}
.menu_item:last-child {
  margin-bottom: 0;
}

.menu_item_checkbox {
}
.menu_item_label {
  font-size: 14px;
  margin-left: 25px;
  cursor: pointer;
}

.menu_header {
  display: grid;
  grid-template-columns: 60px auto;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 16px;
  align-items: center;
}

.menu_header_user_name {
  display: inline-block;
  margin-right: 0.5em;
}

.input_style {
  padding: 10px;
  font-size: 2em;
}
