.root {
  position: fixed;
  width: 350px;
  display: flex;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color6);
}

.comments {
  display: flex;
  width: 100%;
  z-index: 1;
}
