.aggrid_wrapper {
  width: 100%;
  height: 100%;
  margin-top: 1.5em;
}

.filter_wrapper {
  display: grid;
  grid-template-columns: 300px auto 100px;
  grid-gap: 40px;
}

.filter_headers {
  font-weight: 300;
  margin: 10px 0;
}

.filter_tags {
  font-size: 0.8em;
  background-color: var(--bg-color3);
  border-radius: 5px;
  padding: 10px;
}

.filter_input {
  border: solid var(--fr-color5) 1px;
  height: 24px;
  line-height: 24px;
  padding: 0 7px;
  outline: none;
  position: relative;
  border-radius: 2px;
  width: 42px;
  margin-left: 5px;
}

.filter_input::placeholder {
  font-size: 13px;
  color: var(--fr-color4);
}

.filter_label {
  color: #6863ff;
  font-weight: 400;
  background-color: #e7e7e7;
  border-radius: 3px;
  padding: 7px 10px;
  margin-left: 10px;
  font-size: 0.8em;
  outline: none;
}

.filter_operator {
  margin-left: 5px;
  outline: none;
}

.filter_params {
  padding: 10px;
}

.apply_filters_button {
  text-align: right;
  margin-top: 2em;
}

.apply_filters_button button {
  color: var(--bg-color3);
  background-color: var(--bg-color2);
  border-radius: 2px;
  padding: 8px 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.apply_filters_button button:hover {
  background-color: #6a84ff;
}
