.root {
  position: relative;
}

.applied_filters {
  height: 350px;
  overflow: scroll;
  background-color: var(--bg-color4);
  margin-top: 25px;
  margin-bottom: 13px;
  border-radius: 4px;
  padding: 12px;
}

.applied_filters:empty::after {
  content: 'Drag and drop parameters and tags here';
  position: absolute;
  top: 205px;
  left: 52px;
  width: 135px;
  text-align: center;
  color: #888888;
  font-style: italic;
  font-size: 13px;
}

.applied_filters:empty {
  background-position-x: 50%;
  background-position-y: 100px;
  background-image: url('/images/drag-and-drop.png');
  background-repeat: no-repeat;
  background-size: 46px;
}

.apply_filters_button {
  width: 125px;
  margin-left: auto;
}

/* temp fix for conditional label within filter */

.applied_filters_proj {
  height: 350px;
  overflow: scroll;
  background-color: var(--bg-color4);
  margin-top: 25px;
  margin-bottom: 13px;
  border-radius: 4px;
  padding: 12px;
}

.applied_filters_proj:empty::after {
  content: 'Drag and drop tags here';
  position: absolute;
  top: 205px;
  left: 52px;
  width: 135px;
  text-align: center;
  color: #888888;
  font-style: italic;
  font-size: 13px;
}

.applied_filters_proj:empty {
  background-position-x: 50%;
  background-position-y: 100px;
  background-image: url('/images/drag-and-drop.png');
  background-repeat: no-repeat;
  background-size: 46px;
}

.found_filters_popup {
  border: solid 1px var(--fr-color5);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top: none;
  position: absolute;
  width: 100%;
}
