.model_input {
}

.title {
  padding: 9px;
  font-size: var(--font-size1);
  text-align: center;
}

.fields {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 39px;
}

.cell {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color1);
  font-size: var(--font-size3);
  text-transform: capitalize;
}

.header {
  composes: cell;
  position: sticky;
  top: 0;
  font-weight: 500;
  color: var(--main-color5);
  background-color: white;
}

.content {
  composes: cell;
  color: var(--text-color2);
}

.shadowTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  margin-right: 150px;
}

.shadowBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  margin-right: 150px;
}
