.summary_wrapper {
  padding: 20px 0 40px 30px;
  background-color: var(--bg-color3);
  border: 1px solid var(--bg-color3);
}

.dropdown {
  padding: 10px;
  outline: none;
  margin-top: 5px;
}

select {
  outline: none;
  background: #f0f3fb;
  border: 1px solid #f0f3fb;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: var(--bg-color2);
  max-width: 180px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.chart_selector {
  padding: 10px;
  cursor: pointer;
  position: relative;
  max-width: 180px;
}

.chart_selector:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 28px;
  position: absolute;
  top: 36px;
  right: 24px;
  color: rgb(114, 114, 114);
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

.compute_button {
  padding: 10px;
}

.compute_button button {
  color: var(--bg-color3);
  background-color: var(--bg-color2);
  border-radius: 2px;
  padding: 8px 25px;
  border: none;
  outline: none;
  cursor: pointer;
  float: bottom;
}

.compute_button button:hover {
  background-color: #6a84ff;
}

.grid line {
  stroke: #ddd;
}

.parallelHeading {
  padding: 1em;
  font-weight: 500;
}
