.ag-header-cell-label .ag-header-cell-text {
  font-size: 14px;
  color: var(--text-color2);
}
.ag-header-container,
.ag-floating-top-container,
.ag-header-cell {
  pointer-events: none;
}

.ag-center-cols-viewport {
  scroll-behavior: smooth;
}

.grid line {
  stroke: rgb(255, 255, 255);
}

.grid > .domain {
  display: none;
}

.expChart,
.summaryChart {
  background-color: #f7f8fc;
  border-radius: 10px;
}
