:root {
  --bg-color1: #5fe6c9;
  --bg-color2: #6863ff;
  --bg-color3: #ffffff;
  --bg-color4: #f3f3f3;
  --bg-color5: rgba(0, 0, 0, 0.9);

  --fr-color1: #5457e3;
  --fr-color2: rgba(0, 0, 0, 0.9);
  --fr-color3: rgba(0, 0, 0, 0.7);
  --fr-color4: rgba(0, 0, 0, 0.5);
  --fr-color5: rgba(0, 0, 0, 0.2);
}
