.root {
  display: flex;
  flex-direction: column;
  padding: var(--widget-card-padding);
  font-size: 13px;
  color: var(--fr-color3);
  margin-bottom: 16px;
  background-color: var(--bg-color3);
  border: 1px solid var(--bg-color3);
  cursor: pointer;
  text-decoration: none;
}
.root:hover {
  border-color: var(--bg-color2);
}

.deleting {
  opacity: 0.4;
  pointer-events: none;
}

.info {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.name {
  color: var(--fr-color2);
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  margin-bottom: 5px;
}

.labels {
  margin-top: 15px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date {
  margin-top: 8px;
}

.owner_status {
  color: var(--text-color3);
}

.owner_block {
  display: grid;
  grid-template-columns: auto 12px 36px;
  grid-template-areas: 'owner_username_block . owner_avatar';
  align-items: center;
  margin-top: 4px;
  text-align: right;
  color: var(--fr-color3);
  grid-area: owner_block;
  grid-template-rows: 36px auto;
}

.owner_username_block {
  grid-area: owner_username_block;
}

.owner_username {
  display: inline-block;
  max-width: 132px;
  word-break: break-all;
  word-wrap: break-word;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.action_delete {
  margin-right: auto;
}
