.dropdown {
  padding: 10px;
  outline: none;
  margin-top: 5px;
}

select {
  outline: none;
  background: #f0f3fb;
  border: 1px solid #f0f3fb;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: var(--bg-color2);
  max-width: 180px;
  cursor: pointer;
  appearance: none;
}

.chart_selector {
  padding: 10px;
  cursor: pointer;
  position: relative;
  max-width: 180px;
}

.chart_selector_arrow {
  font-size: 17px;
  position: absolute;
  top: 44px;
  right: 24px;
  color: rgb(114, 114, 114);
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}
