.root {
  width: 100%;
}

.content {
}

.commit {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 3px;

  --common-padding: 8px;
}

.commit__header {
  display: grid;
  grid-template-columns: auto max-content;
  grid-column-gap: 5px;
  align-items: center;
  padding: var(--common-padding);
  background-color: #eaf5ff;
}

.commit__message {
  word-break: break-word;
  font-size: 16px;
  color: var(--main-text-color1);
}

.commit__browseFiles {
}

.commit__meta {
  display: flex;
  flex-wrap: wrap;
  padding: var(--common-padding);
  background-color: #fff;
  font-size: 14px;
}

.commit__metaColumn {
  display: flex;
  align-items: center;
}
.commit__metaColumn:first-child {
  margin-right: 5px;
}
.commit__metaColumn:nth-child(2) {
  margin-left: auto;
}

.shaContainer {
  font-size: 12px;
  line-height: 24px;
  color: #586069;
}

.author {
  display: flex;
  align-items: center;
}
.author__username {
  margin-left: 5px;
  color: #586069;
  font-weight: 500;
}

.date {
  margin-left: 5px;
  color: #586069;
}

.experimentRuns {
}

.diff {
  margin-top: 15px;
}
