.button {
  display: inline-flex;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button::first-letter {
  text-transform: uppercase;
}

.extended {
  border-radius: 24px !important;
}

.theme_primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}
.theme_primary:hover {
  background-color: var(--button-primary-hover-bg);
}
.theme_primary:focus {
  box-shadow: 2px 2px 2px 0 rgba(57, 55, 128, 0.5);
}
.theme_primary.disabled {
  background-color: var(--button-primary-disabled-bg);
}

.theme_secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-border);
}
.theme_secondary:hover {
  background-color: var(--button-secondary-hover-bg);
}
.theme_secondary:focus {
  box-shadow: 2px 2px 2px 0 rgba(57, 55, 128, 0.15);
}
.theme_secondary.disabled {
  background-color: var(--button-secondary-disabled-bg);
  color: var(--button-secondary-disabled-color);
  border-color: var(--button-secondary-disabled-border);
}

.theme_tertiary {
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  color: #777777;
}
.theme_tertiary:hover {
  background-color: #dcdce0;
  color: #777777;
}
.theme_tertiary:focus {
  box-shadow: 2px 2px 2px 0 rgba(57, 55, 128, 0.15);
}
.theme_secondary.disabled {
  background-color: var(--button-secondary-disabled-bg);
  color: var(--button-secondary-disabled-color);
  border-color: var(--button-secondary-disabled-border);
}

.theme_red {
  color: #ffffff;
  background-color: var(--delete-color2);
}
.theme_red:hover {
  opacity: 0.8;
}

.size_small {
  font-weight: 500;
  font-size: 0.85em;
  border-radius: 2px;
  padding: 7px;
}
.size_medium {
  font-weight: 500;
  font-size: var(--font-size3);
  height: 36px;
  min-width: 118px;
  padding: 0 20px;
  border-radius: 2px;
}
.size_large {
  font-weight: 400;
  font-size: var(--font-size1);
  height: 56px;
  width: 276px;
  border-radius: 4px;
}

.full_width {
  width: 100%;
  min-width: 0;
  padding: 0 !important;
}

.full_height {
  height: 100%;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 26px;
  vertical-align: middle;
}

.disabled,
.loading {
  pointer-events: none;
  color: #ffffff;
  background-color: #bbbbbb;
  cursor: default;
  border-color: transparent;
}

.loading {
  background-color: #eeeeee !important;
  pointer-events: none;
}

.preloader {
  width: 28px;
}
