.collaborator {
  height: 40px;
  display: grid;
  grid-template-columns: 60px auto 130px;
  grid-template-areas: 'user_avatar user_name user_access';
  align-items: center;
  margin-bottom: 20px;
}

.user_avatar {
  font-family: 'Roboto';
  font-weight: 400;
  grid-area: user_avatar;
  font-size: 15px;
  line-height: 18px;
}

.user_name {
  grid-area: user_name;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color2);
}

.user_name_title {
  color: var(--text-color3);
  font-size: 13px;
  line-height: 15px;
}

.collaborator_buttons {
  grid-area: user_access;
  display: grid;
  grid-template-columns: 40px 20px 40px;
}

.collaborator_button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 28.75px;
  background-color: var(--main-color3);
}

.collaborator_button.without_active_button {
  opacity: 0.5;
}

.collaborator_button.without_active_button:active {
  background: none;
  padding: 0;
}

.collaborator_button img {
  filter: invert(0.5);
}

.blue_button:hover {
  background-color: var(--main-color2);
}

.red_button:hover {
  background-color: var(--error-color1);
}

.collaborator_button:hover.blue_button img,
.collaborator_button:hover.red_button img {
  filter: invert(1);
}
