.preloader {
}

.deleting {
  opacity: 0.5;
  pointer-events: none;
}

.record_summary {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  grid-column-gap: 5px;
  padding-bottom: 12px;
  align-items: top;
}

.record_summary_main {
  grid-row: 2;
  color: var(--fr-color3);
  line-height: 18px;
}

.tags {
  display: inline-block;
}

.header_records {
  margin-bottom: 7px;
}

.record_name {
  font-size: 22px;
  color: var(--fr-color25);
}

.meta_id_container {
  display: grid;
  grid-template-columns: 90px auto;
  grid-column-gap: 10px;
  padding: 2px 0;
}

.meta_label_container {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  color: rgb(141, 141, 141);
}

.record_summary_meta {
  grid-row: 2;
  font-size: 15px;
  line-height: 18px;
}

.parameter_pills_container {
  width: 600px;
}

.run_id {
  display: inline-block;
  max-width: 290px;
  margin-bottom: -6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.publish {
  margin-top: 15px;
}
