.model_layout {
  background-color: var(--bg-color3);
  padding: 18px 30px 30px 30px;
}

.record {
  display: grid;
  grid-template-columns: 175px auto;
  grid-template-rows: 13px auto 12px;
  border-width: 1px 0 0 0;
  border-color: #dedede;
  border-style: solid;
  align-items: top;
}

.record:first-child {
  border: none;
}

.record_header {
  grid-row: 2;
  color: var(--fr-color2);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.record_value {
  grid-row: 2;
  color: var(--fr-color3);
  font-size: 15px;
  line-height: 18px;
}

.record_value.name {
  font-weight: 500;
  color: var(--fr-color2);
}

.record_value.list {
  line-height: 25px;
  margin: -5px 0;
}

.tag {
  height: 34px;
  width: 100px;
  border: 1px solid #dedede;
  border-radius: 2px;
  margin-right: 12px;
  float: left;
  display: grid;
  justify-items: center;
  align-items: center;
}

.tag_text {
  color: #4e4e4e;
  font-size: 13px;
  line-height: 15px;
}

.loader {
  display: block;
  margin: 0 auto;
}
