.dialog {
  --common-padding: 25px;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 178px;
  left: 0;
  right: 0;
  width: 540px;
  min-height: 201px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--common-padding) var(--common-padding);
  background-color: var(--main-color3);
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.32);
  outline: none;
}
.withoutActions {
  min-height: auto;
}

.type_info {
  border-top: 2px solid var(--main-color6);
}
.type_warning {
  border-top: 2px solid var(--warning-color);
}
.type_success {
  border-top: 2px solid #7bb54f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color6);
  z-index: 1000;
  overflow-y: auto;
}

.close {
  position: absolute;
  right: 24px;
  margin-top: 16px;
  cursor: pointer;
  filter: invert(0.5);
  font-size: 14px;
}
.close:hover {
  /* filter: invert(33%) sepia(24%) saturate(6172%) hue-rotate(231deg) brightness(108%) contrast(101%); */
  filter: invert(35%) sepia(67%) saturate(2204%) hue-rotate(227deg)
    brightness(100%) contrast(102%);
}

.header {
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 5px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color1);
  line-height: 26px;
}

.icon {
  margin-right: 8px;
  color: #514eb5;
  font-size: 22px;
}
.warningIcon {
  color: var(--warning-color);
}

.content {
  color: var(--main-text-color1);
  margin-bottom: 15px;
}

.actions {
  display: flex;
  margin-top: auto;
  justify-content: flex-end;
}

.action {
  margin-left: 12px;
}
.action:first-child {
  margin-left: 0;
}
