<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
              <!--  Doc link for key value pair: https://logging.apache.org/log4j/2.x/manual/lookups.html -->
              <JsonLayout complete="false" compact="true" eventEol="true" stacktraceAsString="true">
                <KeyValuePair key="hostName" value="${env:hostName:-}"/>
                <KeyValuePair key="kubernetes.podIP" value="${k8s:podIp:-}"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.grpc.netty" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="io.netty" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="org.hibernate" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="com.mchange" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="ai.verta.modeldb.utils.MongoToPostgresMigrationUtils" level="TRACE" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="TRACE" />
        </Logger>
        <Logger name="liquibase" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="org.mongodb.driver" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="org.apache.http" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="org.apache.http.headers" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="com.amazonaws" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="org.apache.http.impl" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="INFO" />
        </Logger>
        <Logger name="io.jaegertracing" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" level="WARN" />
        </Logger>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleJSONAppender" />
        </Root>
    </Loggers>
</Configuration>
