<header>
  <nav class="nav">
    <div class="logo">
      <a href="<%= rootPath %>/">ModelDB</a>
      <% for (var i=0; i<path.labels.length; i++) { %>
        <div class="path">></div>
        <a href="<%= path.links[i] %>">
          <div class="path">
            <%= path.labels[i] %>
          </div>
        </a>
      <% } %>
    </div>
    <% if (menu) { %>
      <div class="nav-link menu-icon">
        &#9776;
      </div>
    <% } %>
    <a href="<%= rootPath %>/projects" class="nav-link">
      Projects
    </a>
  </nav>
</header>
