<header>
  <nav class="nav">
    <div class="logo">
      <a href="/">ModelDB</a>
      <div class="path"><%= path %></div>
    </div>
    <% if (menu) { %>
      <div class="nav-link menu-icon">
        &#9776;
      </div>
    <% } %>
    <a href="/projects" class="nav-link">
      Projects
    </a>
  </nav>
</header>