.root {
  display: grid;
  padding: 8px 0;
  padding-left: 16px;
  grid-template-columns: 17px auto;
  grid-column-gap: 7px;
  border-bottom: 1px solid #eaecef;
  align-items: center;
}
.root:hover {
  background-color: #f6f8fa;
}
.root:first-child {
  border-top: none;
}
.root:last-child {
  border-bottom: none;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 19px;
}

.name {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name__link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.name__link:hover {
  text-decoration: underline;
}
