@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import './theme.css';
@import './global-element-styles.css';
@import './global-chart-styles.css';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: var(--bg-color4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
