.highlightBg_1 {
  background-color: #bef5cb !important;
}
.highlightBg_2 {
  background-color: #fdaeb7 !important;
}
.highlightBg_3 {
  background-color: #04d635 !important;
}
.highlightBg_4 {
  background-color: #af64ff !important;
}
.highlightBg_5 {
  background-color: #fdddae59 !important;
}
.highlightBg_6 {
  background-color: #b5a18359 !important;
}

.highlightBorder_1 {
  border-color: #bef5cb !important;
}
.highlightBorder_2 {
  border-color: #fdaeb7 !important;
}
.highlightBorder_3 {
  border-color: #04d635 !important;
}
.highlightBorder_4 {
  border-color: #af64ff !important;
}
.highlightBorder_5 {
  border-color: #fdddae59 !important;
}
.highlightBorder_6 {
  border-color: #b5a18359 !important;
}
