:global .rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
}

:global .rc-tooltip-hidden {
  display: none;
}

:global .rc-tooltip-inner {
  padding: 7px;
  background-color: var(--main-text-color2);
  box-shadow: 0 2px 4px 0 #ebebeb;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
}

:global .rc-tooltip-arrow,
:global .rc-tooltip-arrow-inner {
  position: absolute;
  z-index: 1070;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

:global .rc-tooltip-placement-top .rc-tooltip-arrow {
  bottom: -7px;
  margin-left: -6px;
  border-width: 6px 6px 0;
}

:global .rc-tooltip-placement-top .rc-tooltip-arrow-inner,
:global .rc-tooltip-placement-topLeft .rc-tooltip-arrow-inner,
:global .rc-tooltip-placement-topRight .rc-tooltip-arrow-inner {
  bottom: 1px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: var(--main-text-color2);
}

:global .rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}
