{{#any}}null{{/any}}{{#double}}0{{/double}}{{#integer}}0{{/integer}}{{#string}}null{{/string}}{{#boolean}}false{{/boolean}}{{#custom}}null{{/custom}}{{#is_list}}null{{/is_list}}{{#is_map}}null{{/is_map}}