{{#any}}String{{/any}}{{#generic}}GenericObject{{/generic}}{{#double}}Double{{/double}}{{#integer}}BigInt{{/integer}}{{#string}}String{{/string}}{{#boolean}}Boolean{{/boolean}}{{#custom}}{{name}}{{/custom}}{{#is_list}}List[{{#list_type}}{{> type}}{{/list_type}}]{{/is_list}}{{#is_map}}Map[{{#map_key_type}}{{> type}}{{/map_key_type}},{{#map_val_type}}{{> type}}{{/map_val_type}}]{{/is_map}}