.content {
  display: grid;
  justify-items: center;
}

.logo {
  margin: 205px 0 42px 0;
}

.login_slogan {
  margin-bottom: 65px;
  color: #8885ae;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.form_login {
}

.heart {
  display: inline-block;
  opacity: 0.5;
}
