.path_copy {
  font-size: 24px;
  color: black;
  opacity: 0.5;
}

.project_name {
  height: 24px;
  opacity: 0.8;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  margin-left: 12px;
}

.grid_layout {
}

.project_header {
  margin-bottom: 11px;
}

.filter {
  justify-self: end;
  margin-bottom: 17px;
}

.models_grid {
  display: grid;
  grid-template-rows: auto auto auto;
}

.table_wrapper {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 100%;
  background: #fff;
}

.table_header {
  opacity: 0.8;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  background: #fff;
  border: none;
}

.table_cell {
  border: none;
  background: #fff;
  display: grid;
  align-content: start;
  padding-top: 14px;
  color: #4e4e4e;
  font-size: 13px;
  line-height: 15px;
}
