.fixedDataTableCellLayout_main {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(144, 144, 144, 0.3);

  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: absolute;
  white-space: normal;
}

.public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder {
  border-color: rgba(144, 144, 144, 0.3);
  background-image: none;
}

.public_fixedDataTableRow_main {
  background-color: var(--bg-color3);
  border-color: rgba(144, 144, 144, 0.3);
  border-width: 0 0 1px 0;
  border-style: solid;
}
