{{#any}}foo{{/any}}{{#double}}0.{{/double}}{{#float}}0.f{{/float}}{{#integer}}0{{/integer}}{{#long}}0l{{/long}}{{#string}}""{{/string}}{{#boolean}}false{{/boolean}}{{#custom}}null{{/custom}}{{#is_list}}null{{/is_list}}{{#is_map}}null{{/is_map}}