{{#any}}{{/any}}{{#generic}}{{/generic}}{{#double}}Function<Double,Double> f = null;{{/double}}{{#float}}Function<Float,Float> f = null;{{/float}}{{#integer}}Function<Integer,Integer> f = null;{{/integer}}{{#long}}Function<Long,Long> f = null;{{/long}}{{#string}}Function<String,String> f = null;{{/string}}{{#boolean}}Function<Boolean,Boolean> f = null;{{/boolean}}{{#custom}}Function<{{name}},{{name}}> f = v -> v.postVisitDeep(visitor);{{/custom}}{{#is_list}}Function<List<{{#list_type}}{{> type}}{{/list_type}}>,List<{{#list_type}}{{> type}}{{/list_type}}>> f = v -> v.stream().map(s -> s.postVisitDeep(visitor)).collect(Collectors.toList());{{/is_list}}{{#is_map}}Map[{{#map_key_type}}{{> type}}{{/map_key_type}},{{#map_val_type}}{{> type}}{{/map_val_type}}]{{/is_map}}