{{#any}}{{/any}}{{#generic}}{{/generic}}{{#double}}Function<Double,Void> f = null;{{/double}}{{#float}}Function<Float,Void> f = null;{{/float}}{{#integer}}Function<Integer,Void> f = null;{{/integer}}{{#long}}Function<Long,Void> f = null;{{/long}}{{#string}}Function<String,Void> f = null;{{/string}}{{#boolean}}Function<Boolean,Void> f = null;{{/boolean}}{{#custom}}Function<{{name}},Void> f = v -> {v.preVisitDeep(visitor); return null;};{{/custom}}{{#is_list}}Function<List<{{#list_type}}{{> type}}{{/list_type}}>,Void> f = v -> {v.stream().forEach(s -> s.preVisitDeep(visitor)); return null;};{{/is_list}}{{#is_map}}Map[{{#map_key_type}}{{> type}}{{/map_key_type}},{{#map_val_type}}{{> type}}{{/map_val_type}}]{{/is_map}}