.root {
  line-height: 20px !important;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 5px;
  white-space: pre-wrap;
  border-radius: 5px;
  font-size: 14px;
}
.root:hover {
  background: #eeeeee;
}

.name,
.value {
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name {
  color: var(--text-color-grey);
}

.value {
  color: #000000;
}
