.root {
  display: flex;
}

.elem {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pathComponents {
  flex-grow: 1;
  min-width: 0;
  margin-left: 6px;
}
.pathComponents:first-child {
  margin-left: 0;
}
