.dashboard_cog {
  font-family: 'font-awesome';
  color: grey;
}

.title {
  margin: 0px;
  color: #444;
}

.user_bar {
  float: right;
  margin: -30px 0 0 -50px;
  display: grid;
  grid-template-columns: 36px 22px;
  align-items: center;
  justify-items: end;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.root {
  position: relative;
  color: var(--fr-color2);
}

.drop_down {
  font-family: Roboto;
  position: absolute;
  background-color: var(--bg-color3);
  border: solid 1px lightgray;
  margin-top: 20px;
  margin-right: 15px;
  padding: 25px 20px 20px 20px;
  font-size: 12px;
  width: 200px;
  right: 0;
  z-index: 100;
  cursor: pointer;
  /* -webkit-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.2); */
}

.menu_item {
  margin: 20px 0;
}

.menu_item:last-of-type {
  margin-bottom: 0;
}

.menu_item a {
  text-decoration: none;
  color: var(--fr-color3);
}

.menu_item a:hover {
  color: var(--fr-color2);
}

.menu_item:last-of-type a {
  color: var(--fr-color4);
}

.menu_item:last-of-type a:hover {
  color: var(--fr-color3);
}

.menu_header {
  display: grid;
  grid-template-columns: 60px auto;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 16px;
  align-items: center;
}

.menu_header_user_name {
  display: inline-block;
  margin-right: 0.5em;
}

.input_style {
  padding: 10px;
  font-size: 2em;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 2px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #8f91fd;
}

.container:hover input ~ .checkmark {
  background-color: #8f91fd;
  border-radius: 2px;
}

.container input:checked ~ .checkmark {
  background-color: #5457e3;
  border-radius: 2px;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 3.5px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
